<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jtschohl.androidfirewall"
    android:installLocation="internalOnly"
    android:versionCode="235"
    android:versionName="2.3.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <!--
    Boot completed permission is for applying iptables/ip6tables after a reboot.  iptables/ip6tables is not persistent so a reboot
    wipes it out
    -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <!-- Access Network State is used to check if the device is roaming. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- Write external storage is for exporting app rules -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- Announces access to Superuser for added security in Koush's (ChainsDD and Chainfire to do the same) Superuser -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" >
    </uses-permission>
    <!-- The following permissions are needed for the new LAN support in order to access the subnets and get the address ranges -->
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard|locale"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomScriptActivity" />
        <activity android:name=".RulesDialog" />
        <activity android:name=".ExportRulesDialog" />
        <activity android:name=".DeleteRulesDialog" />
        <activity android:name=".SaveProfileDialog" />
        <activity android:name=".SaveSettingsToProfile" />
        <activity android:name=".LoadProfile" />
        <activity android:name=".EditProfileNames" />
        <activity android:name=".UserSettings" />
        <activity android:name=".showLog" />
        <activity android:name=".showRules" />
        <activity android:name=".HelpDialog" />
        <activity
            android:name=".WidgetActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.DisableFirewallShortcut"
            android:label="@string/fw_disabled" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.DisableFirewall"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.EnableFirewallShortcut"
            android:label="@string/fw_enabled" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.EnableFirewall"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.DefaultProfileShortcut"
            android:label="@string/defaultprofile" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.DefaultProfile"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.Profile1Shortcut"
            android:label="@string/profile1" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.Profile1"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.Profile2Shortcut"
            android:label="@string/profile2" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.Profile2"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.Profile3Shortcut"
            android:label="@string/profile3" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.Profile3"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.Profile4Shortcut"
            android:label="@string/profile4" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.Profile4"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.Profile5Shortcut"
            android:label="@string/profile5" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jtschohl.androidfirewall.shortcuts.Profile5"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.jtschohl.androidfirewall.InterfaceIntent" >
        </service>
        <service android:name="com.jtschohl.androidfirewall.RootShell" >
        </service>
        <service android:name="com.jtschohl.androidfirewall.NflogService" >
        </service>

        <receiver
            android:name="BootBroadcast"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <data android:scheme="file" />

                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.jtschohl.androidfirewall.CheckForIfaceChange" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="PackageBroadcast" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="StatusWidget"
            android:label="@string/statuswidget" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/onoff_widget" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.jtschohl.androidfirewall.intent.action.STATUS_CHANGED" />
                <action android:name="com.jtschohl.androidfirewall.intent.action.TOGGLE_REQUEST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="SimpleWidget"
            android:label="@string/simplewidget" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simplewidget" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.jtschohl.androidfirewall.intent.action.STATUS_CHANGED" />
                <action android:name="com.jtschohl.androidfirewall.intent.action.TOGGLE_REQUEST" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".plugin.EditActivity"
            android:exported="true"
            android:icon="@drawable/icon"
            android:label="@string/tasker_name"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".plugin.FireReceiver"
            android:exported="true"
            android:process=":background" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
    </application>

</manifest>